
@model List<City>

@{
    ViewData["Title"] = "Index Cities";
}

<h1 class="mb-4">City List</h1>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>City</th>
            <th>Country</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (City city in Model)
        {
            <tr>
                <td>@city.Id</td>
                <td>@city.CityName</td>
                <td>@city.Country.Name</td>
                <td>
                    <a asp-action="Edit" asp-controller="City" asp-route-id="@city.Id" class=" text-warning"><i class="fas fa-edit  mr-1"></i>Edit </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-controller="City" asp-route-id="@city.Id" class="text-danger"><i class="fas fa-trash-alt mr-1"></i>Delete </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="d-flex align-items-center justify-content-center">
    <h3 class="mr-2  mt-4">
        <a asp-action="Create" class=" mt-4 mb-4 text-decoration-none text-primary">
            Add a city
            <i class="fas fa-plus fa-lg"></i>
        </a>
    </h3>
</div>