@model IEnumerable<City>
@{
    ViewData["Title"] = "Index Cities";
}

<h1>City List</h1>

<a asp-action="Create" class="btn btn-primary mt-4 mb-4">Add new city</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>City Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var city in Model)
        {
            <tr>
                <td>  @Html.DisplayFor(modelItem => city.Id)</td>
                <td>   @Html.DisplayFor(modelItem => city.CityName)</td>
                <td>
                    <a asp-action="Edit" asp-controller="City" asp-route-id="@city.Id" class="mr-2">Edit  &#187;</a>
                    <a asp-action="Details" asp-controller="City" asp-route-id="@city.Id">Details  &#187;</a>
                    <a asp-action="Delete" asp-controller="City" asp-route-id="@city.Id">Delete  &#187;</a>
                </td>


            </tr>
        }
    </tbody>
</table>