@model Person
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>@*Country*@<!--</th>-->
            <th>Phone nr</th>
            <th></th>
        </tr>
        <tr>
            <th>@Model.Name</th>
            <th>@Model.City.CityName</th>
            @*<th>@Model.City.Country.Name</th>*@
            <th>@Model.PhoneNr</th>
        </tr>
    </thead>
    <tbody>

        </tbody>
    </table>

       

        <a asp-action="Index" class="btn btn-info  mt-4 mr-3">Back to list of people.</a>
        <a class="btn btn-danger mt-4 ml-3" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id">Delete person</a>
