@model LanguageConnectionViewModel
@{
    ViewData["Title"] = "LanguageConnection";
}

<h1>Connected Languages -  @Model.Person.Name</h1>
<div class="row">
    <div class="col-6">
        <h4 class="row">Spoken languages</h4>
        <table class="table table-striped">

            <tbody>

                @foreach (Language spokenLanguage in Model.SpokenLanguages)
                {
                    <tr>
                        <th>@spokenLanguage.Name</th>
                        <th> <a asp-action="Delete" asp-controller="People" asp-route-id="@spokenLanguage.Id" class=" text-danger">Delete  &#187;</a></th>
                    </tr>

                }
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <h4 class="row">Possible languages</h4>
        <table class="table table-striped">

            <tbody>

                @foreach (Language allLanguages in Model.AllLanguages)
                {
                    <tr>
                        <th>@allLanguages.Name</th>
                        <th> <a asp-action="AddLanguage" asp-controller="People" asp-route-id="@allLanguages.Id" class=" text-danger">Add  &#187;</a></th>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
