@model LanguageConnectionViewModel
@{
    ViewData["Title"] = "LanguageConnection";
}

<h1 class="mb-4">Connected Languages -  @Model.Person.Name</h1>
<div class="row">
    <div class="col-6">
        <h4 class="row">Spoken languages</h4>
        <table class="table table-striped">

            <tbody>

                @foreach (Language spokenLanguage in Model.SpokenLanguages)
                {
                    <tr>
                        <th>@spokenLanguage.Name</th>
                        <th> <a asp-action="RemoveLanguage" asp-controller="People" asp-route-personId="@Model.Person.Id"  asp-route-langId="@spokenLanguage.Id"class=" text-danger">Remove  &#187;</a></th>
                    </tr>

                }
            </tbody>
        </table>
    </div>

    <div class="col-6">
        <h4 class="row">Possible languages</h4>
        <table class="table table-striped">


            <tbody>

                @foreach (Language allLanguages in Model.AllLanguages)
                {
                    <tr>
                        <th>@allLanguages.Name</th>
                        <th> <a asp-action="AddLanguage" asp-controller="People" asp-route-personId="@Model.Person.Id" asp-route-langId="@allLanguages.Id" class=" text-danger">Add  &#187;</a></th>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<a asp-action="Details" asp-route-id="@Model.Person.Id">Back to Details  &#187;</a>