@model LanguageConnectionViewModel
@{
    ViewData["Title"] = "LanguageConnection";
}

<h1 class="mb-5">Connected Languages -  @Model.Person.Name</h1>
<div class="row">
    <div class="col-6">
        <h4 class="row  mb-3 text-center">Spoken languages</h4>
        <table class="table table-striped table-hovre">

            <tbody>

                @foreach (Language spokenLanguage in Model.SpokenLanguages)
                {
                    <tr>
                        <th>@spokenLanguage.Name</th>
                        <th> <a asp-action="RemoveLanguage" asp-controller="People" asp-route-personId="@Model.Person.Id"  asp-route-langId="@spokenLanguage.Id"class=" text-danger"><i class="fas fa-trash-alt mr-1"></i>Remove </a></th>
                    </tr>

                }
            </tbody>
        </table>
    </div>

    <div class="col-6 ">
        <h4 class="row  mb-3">Possible languages</h4>
        <table class="table table-striped  table-hovre">


            <tbody>

                @foreach (Language allLanguages in Model.AllLanguages)
                {
                    <tr>
                        <th>@allLanguages.Name</th>
                        <th> <a asp-action="AddLanguage" asp-controller="People" asp-route-personId="@Model.Person.Id" asp-route-langId="@allLanguages.Id" class=" text-primary"><i class="fas fa-plus mr-1"></i>Add </a></th>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<a asp-action="Details" asp-route-id="@Model.Person.Id">Back to Details <i class="fas fa-angle-double-right"></i></a>